﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Error 404</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 style="top:50%;text-align:center;position:fixed;">
                Page not found (Error 404)
            </h1>
        </LayoutView>
    </NotFound>
</Router>
