﻿@using PortfolioWebsite.Extensions
@using PortfolioWebsite.Services

<PageTitle>@Localizer!["Education"]</PageTitle>

	<Row Margin="Margin.Is3.OnAll">
		<Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsHalf.OnTablet.IsFull.OnMobile" Margin="Margin.Is3.FromBottom.OnMobile">
			<Card>
				<CardHeader>
					@EducationService.FirstEducation.NameUniversity
			</CardHeader>
			<Figure Flex="Flex.JustifyContent.Center">
				<FigureImage Source="@EducationService.FirstEducation.LinkPhoto?.ToString()" Rounded style="width:140px;height:140px" />
				</Figure>
				<CardBody>
					<CardText>
						<p>@Localizer!["Speciality"] @EducationService.FirstEducation.Speciality</p>
					<p>@Localizer!["LevelEducation"] @EducationService.FirstEducation.LevelEducation.Translation()</p>
					<p>@Localizer!["YearsStudy"] @EducationService.FirstEducation.StartDate - @EducationService.FirstEducation.EndDate</p>
				</CardText>
			</CardBody>
			<CardFooter>
				<a href="@EducationService.FirstEducation.LinkSiteUniversity" target="_blank">
					<Icon Name="IconName.Eye" />
				</a>
			</CardFooter>
		</Card>
	</Column>
	<Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsHalf.OnTablet.IsFull.OnMobile" Margin="Margin.Is3.FromBottom.OnMobile">
		<Card>
			<CardHeader>
				@EducationService.SecondEducation.NameUniversity
			</CardHeader>
			<Figure Flex="Flex.JustifyContent.Center">
				<FigureImage Source="@EducationService.SecondEducation.LinkPhoto?.ToString()" Rounded style="width:140px;height:140px" />
				</Figure>
				<CardBody>
					<CardText>
						<p>@Localizer!["Speciality"] @EducationService.SecondEducation.Speciality</p>
					<p>@Localizer!["LevelEducation"] @EducationService.SecondEducation.LevelEducation.Translation()</p>
					<p>@Localizer!["YearsStudy"] @EducationService.SecondEducation.StartDate - @EducationService.SecondEducation.EndDate</p>
				</CardText>
			</CardBody>
			<CardFooter>
				<a href="@EducationService.SecondEducation.LinkSiteUniversity" target="_blank">
					<Icon Name="IconName.Eye" />
				</a>
			</CardFooter>
		</Card>
	</Column>
</Row>