﻿div {
    text-align: center;
    vertical-align: central;
    align-items: center;
    justify-content: center;
}

button {
    width: 180px;
    height: 90px;
    font-size: 18px
}

h1 {
    text-align: justify;
}

.fa {
    margin: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }

.col {
    margin-top: 20%;
    margin-bottom: 20%;
}