﻿@page "/"

<PageTitle>@Localizer!["Home"]</PageTitle>

	<Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Light">
		<BarBrand onclick="@(() => SelectedPage(1))" style="cursor:pointer" Margin="Margin.Is3">
			@Localizer!["MyName"]
	</BarBrand>
	<BarToggler />
	<BarMenu>
		<BarStart>
			<BarItem><Button Clicked="@(() => SelectedPage(1))">@Localizer!["Home"]</Button></BarItem>
				<BarItem><Button Clicked="@(() => SelectedPage(5))">@Localizer!["MySkills"]</Button></BarItem>
				<BarItem><Button Clicked="@(() => SelectedPage(3))">@Localizer!["WorkExperience"]</Button></BarItem>
				<BarItem><Button Clicked="@(() => SelectedPage(2))">@Localizer!["Projects"]</Button></BarItem>
				<BarItem><Button Clicked="@(() => SelectedPage(4))">@Localizer!["Education"]</Button></BarItem>
			</BarStart>
			<BarEnd>
				<BarItem Margin="Margin.Is3">
					<BarDropdown RightAligned>
					<BarDropdownToggle>
						<Label TextWeight="TextWeight.Bold">@_language</Label>
						</BarDropdownToggle>
						<BarDropdownMenu>
							<BarDropdownItem Clicked="@(async () => await OnCultureChanged("ru-RU"))" TextAlignment="TextAlignment.Center">
								<Label>Русский</Label>
							</BarDropdownItem>
							<BarDropdownDivider />
							<BarDropdownItem Clicked="@(async () => await OnCultureChanged("uk-UA"))" TextAlignment="TextAlignment.Center">
								<Label>Українська</Label>
							</BarDropdownItem>
							<BarDropdownDivider />
							<BarDropdownItem Clicked="@(async () => await OnCultureChanged("en-US"))" TextAlignment="TextAlignment.Center">
								<Label>English</Label>
							</BarDropdownItem>
						</BarDropdownMenu>
					</BarDropdown>
				</BarItem>
			</BarEnd>
		</BarMenu>
	</Bar>

	@switch (_numberPage)
{
	case 1:
		<Jumbotron Background="Background.Light" Margin="Margin.Is5.OnDesktop.Is3.OnTablet.Is0.OnMobile" TextAlignment="TextAlignment.Center">
			<JumbotronTitle Size="JumbotronTitleSize.Is4">@Localizer!["HelloEveryone"]</JumbotronTitle>
				<JumbotronSubtitle>
					@Localizer!["Hello"]
			</JumbotronSubtitle>
			<Divider></Divider>
			<Paragraph>
				<Image Source="https://cdn-icons-png.flaticon.com/64/2111/2111646.png" Display="Display.Inline.OnFullHD" Margin="Margin.Is3.OnAll" onclick="@(() => ClickLink(0))" Style="cursor:pointer" />
				<Image Source="https://cdn-icons-png.flaticon.com/64/3536/3536505.png" Display="Display.Inline.OnFullHD" Margin="Margin.Is3.OnAll" onclick="@(() => ClickLink(1))" Style="cursor:pointer" />
				<Image Source="https://cdn-icons-png.flaticon.com/64/732/732200.png" Display="Display.Inline.OnFullHD" Margin="Margin.Is3.OnAll" onclick="@(() => ClickLink(2))" Style="cursor:pointer" />
				<Image Source="https://cdn-icons-png.flaticon.com/64/5968/5968853.png" Display="Display.Inline.OnFullHD" Margin="Margin.Is3.OnAll" onclick="@(() => ClickLink(3))" Style="cursor:pointer" />
			</Paragraph>
		</Jumbotron>
		break;
	case 2:
		<Projects />
		break;
	case 3:
		<WorkExperience />
		break;
	case 4:
		<Education />
		break;
	case 5:
		<Skills />
		break;
}