﻿<PageTitle>@Localizer!["Projects"]</PageTitle>

	<Row Margin="Margin.Is3.OnAll">
		<Column>
			<Card Width="Width.Max100" Height="Height.Max100" Margin="Margin.Is3.FromBottom">
				<CardHeader>
					@ProjectService.Ermolino.NameProject
			</CardHeader>
			<CardImage Source="@ProjectService.Ermolino.PhotoLink!.ToString()" style="width:128px;height:128px;" Margin="Margin.IsAuto" Alt="There are no pictures on the project." />
			<CardBody>
				<CardText>
					@ProjectService.Ermolino.Description
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@ProjectService.Ermolino.ProjectLink!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.FolderOpen" />
				</Link>
			</CardFooter>
		</Card>
	</Column>
	<Column>
		<Card Width="Width.Max100" Height="Height.Max100" Margin="Margin.Is3.FromBottom">
			<CardHeader>
				@ProjectService.CooverBox.NameProject
			</CardHeader>
			<CardImage Source="@ProjectService.CooverBox.PhotoLink!.ToString()" style="width:128px;height:128px;" Margin="Margin.IsAuto" Alt="There are no pictures on the project." />
			<CardBody>
				<CardText>
					@ProjectService.CooverBox.Description
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@ProjectService.CooverBox.ProjectLink!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.FolderOpen" />
				</Link>
			</CardFooter>
		</Card>
	</Column>
	<Column>
		<Card Width="Width.Max100" Height="Height.Max100" Margin="Margin.Is3.FromBottom">
			<CardHeader>
				@ProjectService.MPI.NameProject
			</CardHeader>
			<CardImage Source="@ProjectService.MPI.PhotoLink!.ToString()" style="width:128px;height:128px;" Margin="Margin.IsAuto" Alt="There are no pictures on the project." />
			<CardBody>
				<CardText>
					@ProjectService.MPI.Description
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@ProjectService.MPI.ProjectLink!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.FolderOpen" />
				</Link>
			</CardFooter>
		</Card>
	</Column>
	<Column>
		<Card Width="Width.Max100" Height="Height.Max100" Margin="Margin.Is3.FromBottom">
			<CardHeader>
				@ProjectService.SkyLife.NameProject
			</CardHeader>
			<CardImage Source="@ProjectService.SkyLife.PhotoLink!.ToString()" style="width:128px;height:128px;" Margin="Margin.IsAuto" Alt="There are no pictures on the project." />
			<CardBody>
				<CardText>
					@ProjectService.SkyLife.Description
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@ProjectService.SkyLife.ProjectLink!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.FolderOpen" />
				</Link>
			</CardFooter>
		</Card>
	</Column>

</Row>
<Row Margin="Margin.Is3.OnAll">
	<Link To="https://gitlab.com/karosveduni" Target="Target.Blank" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" TextTransform="TextTransform.Uppercase">@Localizer!["NextToProject"]</Link>
	</Row>