﻿<PageTitle>@Localizer!["MySkills"]</PageTitle>

	<HeadContent>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
	</HeadContent>

	<Label Position="Position.Static" Width="Width.Is100" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" TextSize="TextSize.Heading4">@Localizer!["ProgrammingLanguages"]</Label>

	<Row>
		@foreach (Data.Skill item in SkillService.Languages)
	{
		<Column Height="Height.Auto" Width="Width.Auto" Margin="Margin.Is3.OnAll" TextAlignment="TextAlignment.Center">
			<Label TextWeight="TextWeight.Bold">@item.Name</Label>
			</Column>
	}
</Row>

<Divider/>

<Label Position="Position.Static" Width="Width.Is100" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" TextSize="TextSize.Heading4">@Localizer!["DateBaseSkills"]</Label>

	<Row>
		@foreach (Data.Skill item in SkillService.DataBase)
	{
		<Column Height="Height.Auto" Width="Width.Auto" Margin="Margin.Is3.OnAll" TextAlignment="TextAlignment.Center">
			<Label TextWeight="TextWeight.Bold">@item.Name</Label>
			</Column>
	}
</Row>

<Divider />

<Label Position="Position.Static" Width="Width.Is100" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" TextSize="TextSize.Heading4">@Localizer!["PlatformsAndFrameworks"]</Label>

	<Row>
		@foreach (Data.Skill item in SkillService.Platforms)
	{
		<Column Height="Height.Auto" Width="Width.Auto" Margin="Margin.Is3.OnAll" TextAlignment="TextAlignment.Center">
			<Label TextWeight="TextWeight.Bold">@item.Name</Label>
			</Column>
	}
</Row>

<Divider />

<Label Position="Position.Static" Width="Width.Is100" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold" TextSize="TextSize.Heading4">Git</Label>

<Row>
	<Column Height="Height.Auto" Width="Width.Auto" Margin="Margin.Is3.OnAll" TextAlignment="TextAlignment.Center">
		<Label TextWeight="TextWeight.Bold">@SkillService.Git.Name</Label>
		</Column>
	</Row>