﻿@using PortfolioWebsite.Data
<PageTitle>@Localizer!["WorkExperience"]</PageTitle>

	<Row Margin="Margin.Is3.OnDesktop.Is3.OnTablet.Is3.OnMobile" Height="Height.Max100">
		<Column Margin="Margin.Is1.OnAll">
			<Card>
				<CardHeader>
					@WorkExperienceService.FirstWorkExperience.NameCompany
			</CardHeader>
			<Figure Flex="Flex.JustifyContent.Center">
				<FigureImage Source="@WorkExperienceService.FirstWorkExperience.LinkPhoto!.ToString()" Rounded Style="height:130px" />
				</Figure>
				<CardBody>
					<CardTitle>
						<Heading Size="HeadingSize.Is1">
							<Label TextWeight="TextWeight.Bold">
								@WorkExperienceService.FirstWorkExperience.Position
						</Label>
					</Heading>
				</CardTitle>
				<CardSubtitle>
					<h3>
						@WorkExperienceService.FirstWorkExperience.Start.ToString(ConstantStrings.DisplayShowDateMonthAndYear) - @(WorkExperienceService.FirstWorkExperience.End == DateTime.MinValue ? Localizer!["ImHereNow"] : WorkExperienceService.FirstWorkExperience.End.ToString(ConstantStrings.DisplayShowDateMonthAndYear))
					</h3>
				</CardSubtitle>
				<CardText>
					@WorkExperienceService.FirstWorkExperience.WorkDescription
					<ListGroup Flush>
						@foreach (KeyValuePair<string, ProjectLink> item in WorkExperienceService.FirstWorkExperience.Projects!)
						{
							<ListGroupItem>
								<Table Borderless>
									<TableHeader>
										<TableHeaderCell>@item.Key</TableHeaderCell>
										</TableHeader>
										<TableBody>
											<TableRow>
												@if (item.Value.LinkAndroid is not "")
											{
												<TableRowCell><a href="@item.Value.LinkAndroid" target="_blank">Play Market</a></TableRowCell>
											}
											@if (item.Value.LinkiOS is not "")
											{
												<TableRowCell><a href="@item.Value.LinkiOS" target="_blank">App Store</a></TableRowCell>
											}
											@if (item.Value.LinkWindow is not "")
											{
												<TableRowCell><a href="@item.Value.LinkWindow" target="_blank">Microsoft Store</a></TableRowCell>
											}
										</TableRow>
									</TableBody>
								</Table>
							</ListGroupItem>
						}
					</ListGroup>
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@WorkExperienceService.FirstWorkExperience.LinkSiteCompany!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.Eye" />
				</Link>
			</CardFooter>
		</Card>
	</Column>
	<Column Margin="Margin.Is1.OnAll">
		<Card>
			<CardHeader>
				@WorkExperienceService.SecondWorkExperience.NameCompany
			</CardHeader>
			<Figure Flex="Flex.JustifyContent.Center">
				<FigureImage Source="@WorkExperienceService.SecondWorkExperience.LinkPhoto!.ToString()" Rounded Style="height:130px" />
				</Figure>
				<CardBody>
					<CardTitle>
						<Heading Size="HeadingSize.Is1">
							<Label TextWeight="TextWeight.Bold">
								@WorkExperienceService.SecondWorkExperience.Position
						</Label>
					</Heading>
				</CardTitle>
				<CardSubtitle>
					<Heading Size="HeadingSize.Is1">
						@WorkExperienceService.SecondWorkExperience.Start.ToString(ConstantStrings.DisplayShowDateMonthAndYear)
					</Heading>
				</CardSubtitle>
				<CardText>
					@WorkExperienceService.SecondWorkExperience.WorkDescription
					<ListGroup Flush>
						@foreach (KeyValuePair<string, ProjectLink> item in WorkExperienceService.SecondWorkExperience.Projects!)
						{
							<ListGroupItem>
								<Table Borderless>
									<TableHeader>
										<TableHeaderCell>@item.Key</TableHeaderCell>
										</TableHeader>
										<TableBody>
											<TableRow>
												@if (item.Value.LinkAndroid is not "")
											{
												<TableRowCell><a href="@item.Value.LinkAndroid" target="_blank">Play Market</a></TableRowCell>
											}
											@if (item.Value.LinkiOS is not "")
											{
												<TableRowCell><a href="@item.Value.LinkiOS" target="_blank">App Store</a></TableRowCell>
											}
											@if (item.Value.LinkWindow is not "")
											{
												<TableRowCell><a href="@item.Value.LinkWindow" target="_blank">Microsoft Store</a></TableRowCell>
											}
										</TableRow>
									</TableBody>
								</Table>
							</ListGroupItem>
						}
					</ListGroup>
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@WorkExperienceService.SecondWorkExperience.LinkSiteCompany!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.Eye" />
				</Link>
			</CardFooter>
		</Card>
	</Column>
	<Column Margin="Margin.Is1.OnAll">
		<Card>
			<CardHeader>
				@WorkExperienceService.ThirdWorkExperience.NameCompany
			</CardHeader>
			<Figure Flex="Flex.JustifyContent.Center">
				<FigureImage Source="@WorkExperienceService.ThirdWorkExperience.LinkPhoto!.ToString()" Rounded Style="height:130px" />
				</Figure>
				<CardBody>
					<CardTitle>
						<Heading Size="HeadingSize.Is1">
							<Label TextWeight="TextWeight.Bold">
								@WorkExperienceService.ThirdWorkExperience.Position
						</Label>
					</Heading>
				</CardTitle>
				<CardSubtitle>
					<Heading Size="HeadingSize.Is1">
						@WorkExperienceService.ThirdWorkExperience.Start.ToString(ConstantStrings.DisplayShowDateMonthAndYear)
					</Heading>
				</CardSubtitle>
				<CardText>
					@WorkExperienceService.ThirdWorkExperience.WorkDescription
					<ListGroup Flush>
						@foreach (KeyValuePair<string, ProjectLink> item in WorkExperienceService.ThirdWorkExperience.Projects!)
						{
							<ListGroupItem>
								<Table Borderless>
									<TableHeader>
										<TableHeaderCell>@item.Key</TableHeaderCell>
										</TableHeader>
										<TableBody>
											<TableRow>
												@if (item.Value.LinkAndroid is not "")
											{
												<TableRowCell><a href="@item.Value.LinkAndroid" target="_blank">Play Market</a></TableRowCell>
											}
											@if (item.Value.LinkiOS is not "")
											{
												<TableRowCell><a href="@item.Value.LinkiOS" target="_blank">App Store</a></TableRowCell>
											}
											@if (item.Value.LinkWindow is not "")
											{
												<TableRowCell><a href="@item.Value.LinkWindow" target="_blank">Microsoft Store</a></TableRowCell>
											}
										</TableRow>
									</TableBody>
								</Table>
							</ListGroupItem>
						}
					</ListGroup>
				</CardText>
			</CardBody>
			<CardFooter>
				<Link To="@WorkExperienceService.ThirdWorkExperience.LinkSiteCompany!.ToString()" Target="Target.Blank">
				<Icon Name="IconName.Eye" />
				</Link>
			</CardFooter>
		</Card>
	</Column>
</Row>